*{
	margin:0;
	padding: 0;
	box-sizing: none;
	font-family: 'Luminari', sans-serif;
}

body{
	background-color: #f5f5f5;
}

.header{
	justify-content: space-around;
	background-color: orange;
	padding: 20px;
}

.header>article{
	display: flex;
	justify-content: space-around;
}

.header>article>article{
	display: flex;

}


.header>article>article>h1{
	margin-top: 30px;
	font-size: 30px;
}

.header>article>article>a{
	margin-top: 37px;
	text-decoration: none;
	color: black;
	font-size: 15px;
	margin-right: 19px;
}

.header>article>article>a:hover{
	color:black;
	transition: linear .2s
}
.header>article>article>img{
	border-radius: 30%;
	width: 130px;
	height: 100px;
	margin-right: 100px;
}

.info{
	height:100vh;
	background-image: url(images/back.png);
	position: relative;
	color: black;
	padding: 15px;
}

.info>article>h1:nth-child(1){
	margin-right:10px;
}

.info>span{
	background-color: rgba(0, 0, 0, .6);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.info>article{
	display: flex;
	justify-content: center;
}

.info *{
	text-align: center;
}

.info_container{
	margin: 0 auto;
	max-width: 500px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
body>section>p{
	background-color: whitesmoke;
	color: green;
}